body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f2f5f9;
}

.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    to right,
    #4facfe,
    #00f2fe
  );
}

.login-box {
  background: rgb(235, 130, 130);
  padding: 40px;
  width: 300px;
  border-radius: 20px;
  box-shadow: 0px 4px 15px rgba(0,0,0,0.2);
  text-align: center;
}

.login-box h1 {
  color: #0077ff;
  margin-bottom: 10px;
}

.login-box h2 {
  margin-bottom: 25px;
}

.login-box form {
  display: flex;
  flex-direction: column;
}

.login-box input {
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
}

.login-box button {
  padding: 12px;
  background: #0077ff;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

.login-box button:hover {
  background: #005fd1;
}

.login-box p {
  margin-top: 20px;
}

.login-box a {
  color: #0077ff;
  text-decoration: none;
  font-weight: bold;
}
.popup-title {
  color: #0077ff;
  font-size: 32px;
  margin-bottom: 20px;
  animation: popup 1s ease;
}

/* Popup Animation */
@keyframes popup {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  70% {
    transform: scale(1.1);
    opacity: 1;
  }

  100% {
    transform: scale(1);
  }
}