body {
  margin: 0;
  font-family: Arial;
  background: hsl(218, 52%, 61%);
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  width: 300px;
  padding: 30px;
  background: rgb(224, 32, 32);
  display: flex;
  flex-direction: column;
  border-radius: 20px;
}

.form input {
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 20px;
}

.form button {
  padding: 10px;
  background: blue;
  color: white;
  border-radius: 20px;
}
.password-box {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
  color: #63dbdb;
}

.password-box input {
  flex: 1;
}

.show-btn {
  padding: 10px;
  background: rgb(125, 203, 16);
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 20px;
}