@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@600;700&family=Poppins:wght@300;400;500;600&display=swap');

/* DEFAULT TEXT */
body{
font-family:Poppins;
}

/* MAIN APP TITLE (HealSync everywhere) */
.app-title{
font-family:Cinzel, serif;
font-size:40px;
font-weight:700;
letter-spacing:3px;
}

/* SECTION HEADINGS */
.section-title{
font-size:24px;
font-weight:600;
}

/* SMALL SUB TEXT */
.sub-text{
font-size:14px;
color:#6b7280;
}

/* LABEL TEXT */
.label{
font-size:13px;
font-weight:500;
letter-spacing:1px;
text-transform:uppercase;
}

/* BIG NUMBERS (cards like OP, Queue) */
.big-number{
font-size:42px;
font-weight:700;
}