body {
  margin: 0;
  background: #2d6cea;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form {
  background: rgb(164, 231, 238);
  padding: 30px;
  width: 320px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

.form h2 {
  text-align: center;
}

.form input {
  width: 100%;
  padding: 12px;
  margin-top: 15px;
}

.form button {
  width: 100%;
  padding: 12px;
  margin-top: 20px;
  background: #2563eb;
  color: rgb(143, 65, 65);
  border: none;
}